* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: verdana;
}

header {
	background-image: url('../images/scubadive.jpg');
	height: 20rem;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: fixed;
	/* width: 100%; */
	/* top: 0; */
	inset: 0 0 auto 0;
}

header h1 {
	position: absolute;
	top: 4rem;
	right: 4rem;
	font-size: 4rem;
	opacity: .3;
}

main {
	margin: 22rem 2rem 2rem 2rem;
}

.cards {
	display: flex;
	gap: 1rem;
}

.card {
	width: 30rem;
	border: 1px solid #ccc;
	padding: 1rem;
	border-radius: .5rem;
	background-color: #eee;
	line-height: 2.2rem;
}

.card img {
	width: 100%;
	height: 20rem;
	border-radius: .5rem;
	object-fit: cover;
}

.card h2 {
	margin-bottom: .5rem;
}

@media (max-width: 767px) {
	.cards {
		flex-direction: column;
	}

	.card {
		width: 100%;
	}

	header h1 {
		font-size: 2.2rem;
		left: 2rem;
		top: 2rem;
	}

}